@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


body {
    /*background-color: black;*/
    padding-top: 50px;
    padding-bottom: 20px;
}

#navMain {
    border-radius: 0;
}

#intro {
    background-color: #FF3333;
    color: #FFFFFF;
    font-size: 21px;
}

.btn-primary {
    background-color: #001489;
    border: none;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}


/*Blog CSS*/
.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.blog-description {
    font-size: 20px;
    color: #999;
}

.blog-main {
    font-size: 18px;
    line-height: 1.5;
    /*background-color: black;*/
}

.blog-post {
    margin-bottom: 60px;
}

/*Sidebar CSS*/
.sidebar-module {
    padding: 15px;
    margin: 0px -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

/*Project Page CSS*/
.nav-project {
    background-color: white;
}

.nav-project-title {
    font-family: 'Bungee Hairline', cursive;
    background-color: white;
    font-size:xx-large;
}
