/*Colors at*/
/* http://www.colourlovers.com/palette/3455082/Sea_and_Stone */


body {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: #5c6f7d;
    background-color: #F2EFEA;
}

.quoteHeader {
    padding: 0px;
    margin: 0px;
}

.quoteContainer {
    padding-top: 50px;
    background-color:#BFD1D5;
    height: 500px
}

